apiVersion: v1
kind: ResourceQuota
metadata:
  name: gamestore-dev-quota
  namespace: gamestore-dev
spec:
  hard:
    requests.cpu: "4"
    requests.memory: "8Gi"
    limits.cpu: "8"
    limits.memory: "16Gi"
    pods: "50"
    services: "20"
    persistentvolumeclaims: "5"
